$oscurecerFondo: rgba(0,0,0,0.5);
$colorNegro: #000;
$colorBlanco: #fff;
$colorFooter: rgb(15, 15, 17);

$fuenteLogo: "Sedgwick Ave Display", sans-serif;
$fuentePrincipal: "Montserrat", sans-serif;
$fuenteSecundaria: "Special Gothic Expanded One", sans-serif;

$sombraHoverBlanca: 0 0 6px 2px rgb(199, 199, 199);