@media (min-width: 600px){
    /* INDEX | ROPA */
    .containerGenero{
        flex-direction: row;   
    }
    /* NOSOTROS */
    .containerNosotros{
        max-width: 700px;
        margin: 0 auto;
        height: 90vh;
        padding: 0 1.2rem;
    }

    /* PRODUCTOS | MAIN */
    .tituloP .nuestrosProductos{
        font-size: 3rem;
    }
}







@media (min-width: 1024px){
    /* INDEX | ROPA */
    .containerGenero .cardGenero{
        max-width: 400px;
    }
    .containerGenero{
        gap: 4rem;
    }
    .cardText{
        font-size: 4rem;
    }
    /* INDEX | NOSOTROS */
    .containerNosotros{
        gap: 3rem;
        max-width: 1000px;
    }
    .containerNosotros h3{
    font-size: 3.2rem;
    }
    .containerNosotros p{
        font-size: 1.2rem;
    }
    /* INDEX | FOOTER */
    .containerFooter{
        display: flex;
        flex-direction: row;
        padding: 3rem 3rem 12rem;
        height: auto;
    }
    footer h4{
        margin-bottom: 2.6rem;
    }
    .sigamosConectados ul{
        justify-content: center;
    }

    /* CONTACTO | MAIN */
    .containerMainContacto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1500px;
        margin: 0 auto;
    }
    .formulario{
        width: 100%;
        max-width: 600px;
    }
    /* PRODUCTOS | MAIN */
    .tituloP{
        padding: 12rem 0;
    }
    .containerCards{
        gap: 2rem;
    }

    /* POLITICAS | PARRAFOS */
    .containerParrafos{
        max-width: 1000px;
        margin: 0 auto;
    }
}