/* HERO */

#hero img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



/* ROPA */

/* genero */

.hombre{
    @include backgroundOverlay("../assets/seccionHombre2.png");
}
.mujer{
    @include backgroundOverlay("../assets/seccionMujer2.png");
}

.containerGenero{
    @include backgroundOverlay("../assets/bg2.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
}
.cardGenero{
    aspect-ratio: 3/5;
    width: 85vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 270px;
    margin: 0 auto;
    border: solid #9c9c9c 1px;
    transition: transform 0.5s ease;
}
.cardGenero:hover{
    transform: scale(1.03);
}
.cardText{
    color: $colorBlanco;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: $fuenteSecundaria;
    margin: 0;
}

/* ver mas */

.cardVerMas{  
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.backgroundCardVerMas{
    @include backgroundOverlay("../assets/verMas2.png");
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease;
}
.backgroundCardVerMas:hover{
    transform: scale(1.03);
}



/* NOSOTROS */

.containerNosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;
    gap: 2rem;
    padding: 10rem 1.2rem;
    overflow: hidden;
}
.containerNosotros h2{
    font-size: 2.3rem;
}