/* titulos */
.sucursalesTitulo{
    text-align: center;
    padding: 4rem 2rem;
}
.mainSucursales h2{
    font-size: 2.7rem;
    margin-bottom: 30px;
}
.sucursales p{
    text-align: start;
}


/* cards */
.containerSucursales{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 0 1.4rem 4rem;
    max-width: 1000px;
    margin: 0 auto;
}
.sucursales h3{
    font-weight: bold;
    margin-bottom: 15px;
}
.sucursales{
    text-align: center;
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    max-width: 280px;
    box-sizing: border-box;
    padding: 1.15rem;
    margin: 0 auto;
    border-radius: 20px 0px 20px 0px;
    border: solid #818181 1px;
    color: #000000;
    overflow: hidden;
}
.sucursales img{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10px 0px 10px 0px;
    margin-bottom: 14px;
}
.sucursales button{
    overflow: hidden;
    width: 100%;
    padding: 0.6rem;
    border: solid #818181 1px;
    border-radius: 10px 0 10px 0;
    background-color: $colorBlanco;
    transition: transform 0.5s ease;
    font-size: 1.1rem;
    
}
.sucursales button:hover{
    transform: scale(1.03);
}